/* page et fond de page */
body {
    background-image: url(images/fond1.jpg);
    background-repeat: repeat;
    background-position: none;
}

.comitebody {
    max-width: 900px;
    margin: auto;
    background-color: #dfdfdf;
}

header {
    background-image: url(images/logo.jpg);
    background-repeat: no-repeat;
}

/* texte */
h1 {
    font-weight: bold;
}

h2 {
    text-indent: 20px;
}

.title_menu {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    text-decoration: underline;
}

#texte {
    font-family: Helvetica, sans-serif;
}

a:link {
    text-decoration: none
}

/* mise en forme menu horizontal */
nav {
    width: 100%;
    border: 1px solid rgb(227, 232, 255);
    text-align: center;
    background-color: rgb(227, 232, 255);
    margin-bottom: 5px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 50px;
}

/* mise en forme bloc droit et gauche index */
article,
aside {
    box-sizing: border-box;
    padding: 20px;
    text-align: justify;
    word-wrap: break-word;
}

article {
    width: 100%;
    background-color: #f9fa82;
    margin-bottom: 20px;
}

aside {
    width: 100%;
    background-color: #cf2222;
    margin-bottom: 20px;
}

/* images */
img {
    max-width: 100%;
    height: auto;
}

/* mise en forme fenetre popup */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

/* Responsive design */
@media (min-width: 768px) {

    article,
    aside {
        display: inline-block;
        vertical-align: top;
    }

    article {
        width: 70%;
        min-height: 400px;
    }

    aside {
        width: 25%;
        position: relative;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        padding: 0 50px;
    }
}